fastapi==0.110.1
PyMuPDF==1.23.4
langchain==0.1.16
langchain_community==0.0.32
ollama==0.1.8
python-dotenv==1.0.1
semantic-text-splitter==0.2.3
tokenizers==0.15.2
uvicorn==0.29.0
requests==2.31.0
unstructured==0.13.2
selenium==4.19.0
chromadb==0.4.23
tokenizers==0.15.2
transformers==4.39.3
python-multipart==0.0.9
einops==0.7.0
python-dotenv==1.0.1
uvicorn==0.29.0